<div class="container load">
    <i class="fa-solid fa-spinner fa-spin" style="color: yellow;"></i>
</div>

@code {

}

<style>

    .load {
        justify-content: center;
        height: 98vh;
        align-items: center;
        display: flex;
        font-size: 90px;
    }
</style>